
  <div class="row">
    <div class="col-3 d-flex flex-column align-items-end" id="info">
      <h6>PLAYERS: {{countPlayers()}}</h6>
      <h6>TOTAL POINTS: {{countTotalScore()}}</h6>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-center" id="title">
      <h3>SCOREBOARD</h3>
    </div>
    <div class="col-3 d-flex flex-column align-items-center" id="score">
      <p>STOPWATCH</p>
      <h3>0</h3>

      <div class="buttons">
        <button class="btn btn-secondary" type="button" style="background-color: #423388;
                        border: #423388;">START</button>
        <button class="btn btn-secondary" type="button" style="background-color: #423388;
                        border: #423388;">RESET</button>
      </div>
    </div>
  </div>
