.container-sm {
  border: 1px solid grey;
}

.app-header {
  margin-top: 300px;
  width: 100%;
  border: 1px solid #8063fb;
  border-radius: 8px;
}

.main-table {
  width: 100%;
  border: 1px solid white !important;
}

.footer-table {
  width: 100%;
  border: 1px solid #8063fb;
  padding: 15px;
  background-color: #8063fc;
}


